html {
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url(/images/wallpaper.jpg) no-repeat;
	background-size: 100%;
	min-height: 100%;
	background-position: bottom;
}

form {
	padding: 20px;
	margin-top: 60px;
}
